@model IEnumerable<ProductManagementApp.Backend.Data.Product>

@{
    ViewData["Title"] = "Список всех товаров";
}

<div class="jumbotron">
    <h1>Список всех товаров</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Добавить товар</a>
    </p>
    <div class="myBox">
        <table class="table table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                        <p>ID товара</p>
                    </th>
                    <th>
                        <p>Название товара</p>
                    </th>
                    <th>
                        <p>Количество на складе</p>
                    </th>
                    <th>
                        <p>Цена товара (за ед.)</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) ₽
                        </td>
                        <td>
                            @Html.ActionLink("Изменить", "Update", "Products", new { id = item.Id }) |
                            <a onclick="alert('Вы точно хотите удалить данный товар ?')" asp-action="Delete" asp-route-id="@item.Id">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>    
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}