@model ProductManagementApp.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="custom-select form-group"
                    asp-for="SupplierId" asp-items="@(new SelectList(Model.Suppliers, "Id", "Name"))">
                <option>Выберите поставщика...</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Выбрать" class="btn btn-primary" />
            </div>
        </form>
        @if (Model.SupplierEmail != null)
        {
            <div>
                <hr />
                <h2>@Model.SupplierName</h2>
                <h5>@Model.SupplierDescription</h5>
                <hr />
                <div class="form-group">
                    <h5>Контактная информация:</h5>
                    <h4><i class="fas fa-phone">: </i> @Model.SupplierPhone</h4>
                    <h4><i class="fas fa-at">: </i> @Model.SupplierEmail</h4>
                </div>
            </div>
        }
    </div>
    @if (Model.Products != null)
    {
        <div class="myBox">
            <div class="col-md-12">
                <hr />
                <table class="table table-bordered table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>
                                <p>Название товара</p>
                            </th>
                            <th>
                                <p>Цена товара</p>
                            </th>
                            <th>
                                <p>Цена со скидкой</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>
                                    <p>@product.Name</p>
                                </td>
                                <td>
                                    <p>@product.Price</p>
                                </td>
                                <td>
                                    <p>@product.DiscountPrice</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}