@model IEnumerable<ProductManagementApp.Backend.Data.Store>

@{
    ViewData["Title"] = "Список магазинов";
}

<div class="myBox">
    <h1>Список магазинов</h1>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <p>Название</p>
                </th>
                <th>
                    <p>Адресс</p>
                </th>
                <th>
                    <p>Почтовый индекс</p>
                </th>
                <th>
                    <p>Телефон</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
